<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LdrDat2Obj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LdrDat2Obj.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LdrDat2Obj.Properties.Settings>
            <setting name="saveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="openDir" serializeAs="String">
                <value />
            </setting>
            <setting name="sourceDir" serializeAs="String">
                <value />
            </setting>
            <setting name="lineGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stepGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noStuds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noHollows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noBottom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </LdrDat2Obj.Properties.Settings>
        <LdrDat2Obj.Settings1>
            <setting name="savefile" serializeAs="String">
                <value />
            </setting>
            <setting name="openfile" serializeAs="String">
                <value />
            </setting>
            <setting name="sourcedir" serializeAs="String">
                <value />
            </setting>
        </LdrDat2Obj.Settings1>
    </userSettings>
</configuration>